body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-style: italic;
    background-color: white;
    color: black;
}

.entity {
    border: 1px solid black;
}
.entity th {
    background-color: lightblue;
}

.primary-key {
    text-decoration: underline;
}
.strong {
    border: 4px double black;
}
