body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-style: italic;
    background-color: white;
    color: black;
}

#title {
    text-align: center;
    position: relative;
    top: 100px;
}

.entity {
    border: 1px solid black;
    position: absolute;
}
.entity th {
    background-color: lightblue;
}

.relationship {
    transform: rotate(45deg);
    border: 1px solid black;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.relationship * {
    transform: rotate(-45deg);
}

.primary-key {
    text-decoration: underline;
}
.strong {
    border: 4px double black;
}
